{% extends 'base.html' %}

{% block content %}



<form action="register" method='post'>
    {% csrf_token %}

    <input type="text" name="firstname" placeholder="First Name"> <br>
    <input type="text" name="lastname" placeholder="Last Name"> <br>
    <input type="text" name="username" placeholder="UserName"> <br>
    <input type="email" name="email" placeholder="Email"> <br>
    <input type="password" name="password1" placeholder="password"> <br>
    <input type="password" name="password2" placeholder="Confirm password"> <br>
    <input type="submit">


</form>

<div>

    {% for message in messages %}
    <h1> {{message}} </h1>
    {% endfor %}

</div>


{% endblock %}